p{
    color: red;
}

p ,div{
    color: blue;
}

div#myDiv > p.mainClass{
    color: green;
}

div p {
    color: orange;
}

input.myclass{
    border: 2px solid black;
}
/* same as above
 input[class="myClass"]{
    border: 4px solid purple;
}
 */

div ~ span{
    word-spacing: 10px;
    font-size: larger;
}

p[class="myClass"]{
    font-weight: bolder;
}

div#mydiv{
    background-color: rgb(20, 27, 58);
}