p , div , span{
    font-family: "Lucida Calligraphy";
}

div h1{
    text-align: center;
}

.none-bullet-list{
    list-style-type: none;
    
}
li > a{
    background-color: pink;
    color: red;
    text-decoration: none;
}

span#content > h2 + p {
    font-weight: bold;
    font-size: 12px;
}

div#loginform {
    border: 2px dashed rgb(20, 70, 60);

}

input[type="text"]{
    background-color: yellow;
}   

input[type="text"]:focus{
    background-color: white;
}   

.table-bordered{
    display: table-cell;
    padding: 5px;
    border: 2px solid black;
}

span p::after{
    content: " Read this";
    color: yellow;
}

p#aboutus{
    color: red !important;
}

span#content > p#aboutus{
    color: yellow;
}